* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255)
}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 15px 20px 20px;
    background: rgba(6, 255, 27, 0.788);
    box-shadow: 0 5px 15px rgb(0, 0, 0);
}
.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(0,0,0);
    pointer-events: none;
}
.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.buttons button:active {
    transform: scale(0.99);
}
.operator {
    color: rgb(46, 57, 212);
}